doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/main.css')
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        script(src="/lib/jquery.js")
    body
        include ./header.jade
        div.wrapper 
            div.right 
                include ./sidebar.jade
            div.left
                block content
        include ./footer.jade
        script(src="//localhost:35729/livereload.js")
        script(src="/js/main.js")