div.sidebar
    div.search
        input.search 
        button.search Search 
    hr
    div.introduction.block Introduction
    hr
    div.tags.block  Tags
    hr
    div.members.block Members
script(src="/js/sidebar.js")  
